
.task-done {
  text-decoration: line-through;
  opacity: 50%;
}

.btn-active {
  color: white;
  background-color: hotpink;
  border: 2px solid hotpink;
  border-radius: 5px;
}

.input-error {
  border: 3px solid red;
}

.addItemForm {
  display: flex;
  flex-direction: row;
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 10px;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
}

.tasks-list {
  padding: 0;
}